---
import Layout from "../../layouts/Layout.astro"
import clasif from "../../components/css/clasificacion.module.css";
---

<Layout title="Miembro Superior">
    <section class={clasif.contenedor}>
        <h1>Miembro Superior</h1>
        <details class={clasif.detalles} data-accordion>
            <summary class={clasif.sumario}>Mano</summary>
            <div class={clasif.contentWrapper}>
                <ul class={clasif.lista}>
                    <li><a href="/mano-pa">Postéreo Anterior</a></li>
                    <li><a href="/mano-oblicua">Oblicua</a></li>
                    <li><a href="/mano-perfil">Perfil</a></li>
                    <li><a href="/metodo-norgaard">Mét. de Norgaard</a></li>
                </ul>
            </div>  
        </details>

        <details class={clasif.detalles} data-accordion>
            <summary class={clasif.sumario}>Puño</summary>
            <div class={clasif.contentWrapper}>
                <ul class={clasif.lista}>
                    <li><a href="/púno_pa">Postero Anterior</a></li>
                    <li><a href="/puno_perfil">Perfil</a></li>
                    <li><a href="/desv_cub">Desviacion Cubital</a></li>
                    <li><a href="/desv_rad">Desviacion Radial</a></li>
                    <li><a href="/oblicua_pa">Oblicua PA</a></li>
                    <li><a href="/oblicua_ap">Oblicua AP (medial)</a></li>
                    <li><a href="/puno_estres">Puño en Estres</a></li>
                    <li><a href="/tunel-carpiano">Tunel Carpiano (Gaynor-Hart)</a></li>
                </ul>
            </div>  
        </details>
    </section>

    <script>
        // Obtener todos los elementos <details> con el atributo 'data-accordion'
        const accordions = document.querySelectorAll('[data-accordion]') as NodeListOf<HTMLDetailsElement>;

        accordions.forEach((accordion) => {
            // Agregar un evento de 'toggle' para cada uno
            accordion.addEventListener('toggle', () => {
                // Cuando un <details> se abre, cerramos los demás
                accordions.forEach((otherAccordion) => {
                    if (otherAccordion !== accordion && otherAccordion.open) {
                        otherAccordion.removeAttribute('open');
                    }
                });
            });
        });
    </script>
</Layout>


