---
import Layout from "../layouts/Layout.astro"
import menu from "../components/css/menuEnfoques.module.css";
---

<Layout title="Miembro Superior">
    <section class={menu.section}>
        <div class={menu.titulo}>
            <h1>Miembro Superior</h1>
            <p>Enfoques radiologicos de miembro superior</p>
        </div>
        <article>
            <div class={menu.contenedores}>
                <h2>Mano</h2>
                <p>Frente de mano PA</p>	
                <p>Oblicua de mano</p>
                <h3>Complementarios</h3>
                <p>Perfil de mano</p>	
                <p>Metodo de Norgaard</p>
            </div>

            <div class={menu.contenedores}>
                <h2>Puño</h2>
                <p>Frente de puño PA</p>	
                <p>Perfil de puño</p>
                <h3>Complementarios</h3>
                <p>Oblicua de puño</p>
                <p>Oblicua de puño desviacion medial</p>	
                <p>Puño desviacion cubital</p>
                <p>Puño desviacion radial</p>
                <p>Puño en estres</p>
                <p>Método de Gaynor Hart</p>
                <p>Método de Marshall</p>
            </div>

            <div class={menu.contenedores}>
                <h2>Antebrazo</h2>
                <p>Frente de antebrazo AP</p>	
                <p>Perfil de antebrazo</p>
            </div>

            <div class={menu.contenedores}>
                <h2>Codo</h2>
                <p>Frente de codo AP</p>
                <p>Perfil de codo</p>
                <h3>Complementarios</h3>
                <p>Codo AP flexion parcial</p>	
                <p>Codo AP oblicua rotacion medial</p>
                <p>Codo AP oblicua rotacion lateral</p>
                <p>Método de Jones</p>
                <p>Método de Coyle</p>
                <p>Cabeza radial 4 posiciones</p>
            </div>

            <div class={menu.contenedores}>
                <h2>Humero</h2>
                <p>Frente de Humero AP</p>	
                <p>Perfil de Humero</p>
                <h3>Complementarios</h3>
                <p>Lateromedial con rayo horizontal. Traumático</p>
                <p>Transtoracico lateral. Traumático</p>
            </div>

            <div class={menu.contenedores}>
                <h2>Hombro</h2>
                <p>Frente de hombro AP</p>	
                <h3>Complementarios</h3>
                <p>Perfil Escapular</p>
                <p>Desfiladero, salida del supraespinoso</p>
                <p>Vuelo de pajaro</p>
                <p>Método de Stryker</p>
                <p>Enfoque de Patte</p>
                <p>Proyección axial de Velpeau</p>
                <p>Enfoque de Rockwood</p>
                <p>Corredera bicipital</p>
                <p>Método de Alexander</p>
                <p>Apófisis coracoides</p>
            </div>            
        </article>
    </section>
</Layout>