---
import Layout from "../layouts/Layout.astro";
import menu from "../components/css/menuEnfoques.module.css";
---

<Layout title="Miembro Inferior">
  <section class={menu.section}>
    <div class={menu.titulo}>
      <h1>Miembro Inferior</h1>
      <p>Enfoques radiologicos de miembro inferior</p>
    </div>
    <article>
      <div class={menu.contenedores}>
        <h2>Pie</h2>
        <a href="#">
          <p>Frente de pie PA</p>
        </a>
        <a href="#">
          <p>Oblicua de pie</p>
        </a>
        <h3>Complementarios</h3>
        <a href="#">
          <p>Perfil de pie</p>
        </a>
        <a href="#">
          <p>Metodo de Lewis y Holly</p>
        </a>
        <a href="#">
          <p>Metodo de Causto Axiolateral</p>
        </a>
        <a href="#">
          <p>Plantodorsar axial de calcaneo</p>
        </a>
        <a href="#">
          <p>Dorsoplantar axial de calcaneo</p>
        </a>
        <a href="#">
          <p>Proyeccion lateral de calcaneo</p>
        </a>
        <a href="#">
          <p>Metodo en carga Bipedestacion</p>
        </a>
        <a href="#">
          <p>Proyecciones laterales en carga</p>
        </a>
      </div>

      <div class={menu.contenedores}>
        <h2>Tobillo</h2>
        <a href="#">
          <p>Frente de tobillo AP</p>
        </a>
        <a href="#">
          <p>Perfil de tobillo</p>
        </a>
        <h3>Complementarios</h3>
        <a href="#">
          <p>Metodo de Isherwood</p>
        </a>
        <a href="#">
          <p>Proyeccion lateral en carga</p>
        </a>
        <a href="#">
          <p>Slowman</p>
        </a>
        <a href="#">
          <p>Tobillo AP en Carga</p>
        </a>
        <a href="#">
          <p>Oblicua de Tobillo rotacion medial</p>
        </a>
        <a href="#">
          <p>Oblicua de Tobillo rotacion lateral</p>
        </a>
        <a href="#">
          <p>AP de tobillo en estres</p>
        </a>
        <a href="#">
          <p>Estudio Axial cabeza de los metatarsiano</p>
        </a>
        <a href="#">
          <p>Enfoque de Harris</p>
        </a>
        <a href="#">
          <p>Metodo de Broden</p>
        </a>
        <a href="#">
          <p>Alineacion de Retropie</p>
        </a>
        <a href="#">
          <p>Proyeccion de Satlzman</p>
        </a>
        <a href="#">
          <p>Enfoque de Canale y Kelly</p>
        </a>
        <a href="#">
          <p>Proyeccion de Ami View</p>
        </a>
      </div>

      <div class={menu.contenedores}>
        <h2>Rodilla</h2>
        <a href="#">
          <p>Frente AP de rodilla</p>
        </a>
        <a href="#">
          <p>Perfil de rodilla</p>
        </a>
        <h3>Complementarios</h3>
        <a href="#">
          <p>AP de rodilla en carga</p>
        </a>
        <a href="#">
          <p>Metodo de Rosenberg</p>
        </a>
        <a href="#">
          <p>Oblicuas de rodilla</p>
        </a>
        <a href="#">
          <p>Proyeccion PA de rotula</p>
        </a>
        <a href="#">
          <p>Proyeccion lateral de rotula</p>
        </a>
        <a href="#">
          <p>Metodo de Holmblad</p>
        </a>
        <a href="#">
          <p>Metodo de Settegast</p>
        </a>
        <a href="#">
          <p>Metodo de Merchant</p>
        </a>
      </div>
    </article>
  </section>
</Layout>
